.cell {
  display: inline-block;
  width: 9em;
  padding: 0.5em;
  text-align: right;
}

.left-align {
  text-align: left;
}

.bold {
  font-weight: 800;
}

.title {
  font-size: 2em;
}

.progress {
  padding-top: 1em;
}

.heading {
  font-weight: 800;
}

.row {
}
