.container {
  width: 50%;
  min-width: 800px;
  margin: auto;
}

.cell {
  display: inline-block;
  width: 9em;
  padding: 0.5em;
  text-align: right;
}

.narrow {
  width: 5em;
}
.left-align {
  text-align: left;
}

.bold {
  font-weight: 800;
}

.title {
  font-size: 2em;
}

.progress {
  padding-top: 1em;
}

.heading {
  font-weight: 800;
}

.row {
}

.chart {
  padding-top: 1em;
}
